In [4]:
import pysal.esda.mapclassify as mapclassify
import pandas as pd
import os
from mapboxgl.utils import *
from mapboxgl.viz import *
print("success")

success

In [6]:
df = pd.read_csv('C:\\Users\\merinor\\Documents\\Data\\testcsv.csv').round(3)
df.head(5)

,FID,ROUTE,UNIQUE_ID,XCO,YCO,ZCO,SURVEY,FACILITYID,WARRANTYDA,SPECIES,...,COMBINED,INV_DATE,INV_TIME,EDITTIME,SOURCE,STATUS,F2013__Col,ID_STRING,x,y
0,1,S HARRINGTON ST 2,3181,2105309.409,738724.880,332.727,06102103.001,3190,NaN,,...,,NaN,,NaN,TransMap,Inactive,0,TEST,-78.645,35.779
1,2,S HARRINGTON ST 2,3182,2105308.723,738777.923,334.628,06102103.001,3191,NaN,,...,,NaN,,NaN,TransMap,Inactive,0,NaN,-78.645,35.779
2,3,S HARRINGTON ST 2,3183,2105300.353,738853.991,336.694,06102103.001,3192,NaN,,...,,NaN,,NaN,TransMap,Inactive,0,NaN,-78.645,35.780
3,4,S HARRINGTON ST 2,3040,2105269.743,738010.483,315.746,06102103.001,3049,NaN,,...,,NaN,,NaN,TransMap,Inactive,0,NaN,-78.645,35.777
4,5,S HARRINGTON ST 2,3041,2105270.945,738025.308,316.533,06102103.001,3050,NaN,,...,,NaN,,NaN,TransMap,Inactive,0,NaN,-78.645,35.777

In [8]:
# Must be a public token, starting with `pk`
token = os.getenv('pk.eyJ1IjoibWVyaW5vci1yYWwiLCJhIjoiY2pmaTlnM2U0MDh2NzJ6cXEydzAzdm5kYyJ9.YQiL_JYxG36_7G8A9ZL_RA')
print ("success")

success

In [9]:
# Create a geojson file export from the current dataframe
df_to_geojson(df, filename='points1.geojson',
              properties=['FID', 'ROUTE', 'STATUS'], 
                     lat='y', lon='x', precision=3)

{'feature_count': 610, 'filename': 'points1.geojson', 'type': 'file'}